<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bootstrap User Management Data Table</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/main.css">


        <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
    </head>
<body>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>디닷컴 잔디밭 대시보드(2021)</h2>
                        </div>
                        <div class="col-sm-7">
                            <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>아이디 신규 등록</span></a>
                            <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>아이디어 제안하기</span></a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <h2>
                        운영 세칙
                    </h2>
                    <br>
                    <p>
                        1. 개인 계정에 1일 1커밋을 목표로 합니다.
                    </p>
                    <p>
                        2. 개인 프로젝트/알고리즘/블로깅 등 어떤 커밋이든지 상관 없습니다.
                    </p>
                    <p>
                        3. 커밋은 절대 강요하거나 눈치주지 않습니다. 오직 벌금만 강요합니다!
                    </p>
                    <p>
                        4. 매주 일요일마다 집계 (일-토 기준), 커밋 한번 빠졌을 때마다 벌금 1,000원 입니다.
                    </p>
                    <p>
                        5. 귀찮아서/경조사/여행 기타 등등 사유 상관없이 빠지면 벌금입니다. 그냥 맘편하게 내세요!
                    </p>
                    <br>

                    <p>
                        * 성실도 (커밋수 대비 전체일수) 0 < F < 60% < D < 70% < C < 80% < B < 90% < A 
                    </p>
                    <br>

                
                    <h2>총 벌금 
                        <h4 id="total"> -원</h4>
                    </h2>
                    <br>
                </div>

                <div class="lds-roller" id="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>순위</th>
                            <th>프로필</th>						
                            <th>참여 날짜</th>
                            <th>커밋수</th>
                            <th>최근 연속 커밋</th>
                            <th>총 벌금(+이번주)</th>
                            <th>성실도</th>
                        </tr>
                    </thead>
                    <tbody id="users">

                    </tbody>
                </table>
            </div>
        </div>
    </div>    
    <script>
        $.ajax({
            type: 'POST',
            url: '/users',
            success: function(res){
                $("#users").html(res);
                $.ajax({
                    type: 'POST',
                    url: '/total',
                    success: function(res){
                        console.log(res);
                        $("#total").html(res["total_fine"].toLocaleString('en-US') + "원");
                        $("#loading").html("");
                    }
                });
            }
        });
    </script> 
</body>
</html>